.header {
    background-image:
        linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
        url('../img/background1-small.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;
    -webkit-clip-path: ellipse(60% 60% at 50% 33%);
    clip-path: ellipse(60% 60% at 50% 33%);

    @include respond(phone){
        clip-path: ellipse(60% 50% at 50% 20%);
    }


    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__logo {
        height: 7rem;
    }

    &__logo-box {
        position: absolute;
        top: 3rem;
        left: 3rem;
    }
}