*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%; //1rem =9px
    }

    @include respond(tab-port){
        font-size: 50%; //1 rem = 8px
    }

    @include respond(big-desktop){
        font-size: 75%; //1rem = 12px
    }
}

body{
    padding: 0;
    box-sizing: border-box;

    @include respond(tab-port){
        padding: 0px;
    }
}
